
.section-title .title::before,
.testimonial-section::before,
.newsletter-section::before,
.product-section .owl-carousel .owl-nav button.owl-next,
.product-section .owl-carousel .owl-nav button.owl-prev,
.features-section .features-item:hover,
.home-section,
.mybtn2,
.footer,
.header .navbar-light .navbar-toggler-icon:before,
.header .navbar-light .navbar-toggler-icon:after,
.header .navbar-light .navbar-toggler-icon,
.header{
    background-color: #05b3b6;
}
.footer  .footer-social-links a:hover i,
.contact-section .contact-item h5,
.contact-section .contact-item .icon i,
.testimonial-section .owl-carousel .owl-nav button.owl-next,
.testimonial-section .owl-carousel .owl-nav button.owl-prev,
.faq-section .support-text a,
.testimonial-section .client-info h5,
.product-section  .product-content  .product-price .new-price,
.features-section .features-item  .icon i,
.about-section  .about-content ul li i,
.section-title .title,
.mybtn1:hover,
.mybtn1{
    color: #05b3b6;
}
.contact-section .contact-form .form-control:focus,
.testimonial-section .client-info  img
{
    border-color :#05b3b6;
}
.preloader  .loader{
    border-right: 5px solid #05b3b6;
}
@media(max-width:991px){
.header .navbar #collapsibleNavbar .nav-item .nav-link{
    color: #05b3b6;
}
}